@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #000000;
  background: #ffffff;
  font-size: 16px;
}

main {
  background: #747474;
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
